<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <kohortpay>
                <model>Kohortpay\Payment\Model\Payment</model>
                <title>KohortPay</title>
                <active>1</active>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <sort_order>1</sort_order>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_refund>1</can_refund>
            </kohortpay>
        </payment>
    </default>
</config>